.radar-trap-button {
	z-index: 10;
	opacity: 0.7;
	float: right;
	margin: 8px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: rgba(152, 152, 152, 0.43);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 0;
	horiz-align: center;
	vertical-align: middle;
	overflow: hidden;
	background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
	background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5),
		0 2px 2px rgba(0, 0, 0, 0.19);
	border-bottom: solid 2px #b5b5b5;
}

.radar-trap-button-hidden {
	visibility: hidden;
}

.radar-trap-button:active {
	cursor: pointer;
	background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
		0 2px 2px rgba(0, 0, 0, 0.19);
	border-bottom: none;
}

.radar-trap-button:hover {
	cursor: pointer;
}

.radar-trap-info-no-scrollbar {
	overflow: scroll;
	overflow-x: hidden;
}

.radar-trap-info-no-scrollbar::-webkit-scrollbar {
	/* WebKit */
	width: 0 !important;
}

.radar-trap-info {
	/*padding: 5px 10px;*/
}

.radar-trap-info ul {
	margin-block: unset;
	padding-inline: unset;
	list-style-type: none;
	width: 100%;
}

.radar-trap-info ul > div {
	text-align: center;
	padding: 5px 10px 2px 10px;
	font: bold 18px/1.5 Helvetica, Verdana, sans-serif;
}

.radar-trap-info h6 {
	margin-block: unset;
	font: bold 14px/1.5 Helvetica, Verdana, sans-serif;
	line-height: 20px;
	vertical-align: middle;
}

.radar-trap-info li img {
	float: left;
	margin: 0 10px 0 0;
	width: 20px;
	height: 20px;
}

.radar-trap-info li span {
	font: 200 12px/1.5 Helvetica, Verdana, sans-serif;
}

.radar-trap-info li {
	padding: 5px 10px;
}

.radar-trap-info li:hover {
	background: #eee;
	cursor: pointer;
}
